body {
    font-family: Arial, sans-serif;
    background-color: #c3b6b6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    text-align: center;
}

.table {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

h2 {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button {
    text-align: center;
}

button {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50; /* Cor do botão */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    text-align: center;
    /* Personalização adicional para diminuir o botão */
    width: 150px; /* Definindo largura */
    height: 40px; /* Definindo altura */
    font-weight: bold; /* Deixando o texto em negrito */
}

button:hover {
    background-color: #45a049; /* Cor do botão ao passar o mouse */
}
