/* style.css */

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(226, 168, 43);
}

.container {
    background-color: burlywood;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rebeccapurple;
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 15px;
}

input[type="number"] {
    width: calc(100% - 22px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* Centralizando o botão horizontalmente */
    margin: 0 auto;
}

button:hover {
    background-color: #0056b3;
}

.resultado {
    margin-top: 20px;
    font-weight: bold;
}
