html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(161, 47, 101);
}

.table {
    width: 80%;
    /* Largura da tabela */
    max-width: 600px;
    /* Largura máxima */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#listaNumeros {
    padding: 20px;
}