html,
body {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(135, 187, 222);
}

#container {
    height: 90%;
    width: 80%;
    background-image: url('Foto para Aniver.png');
    background-size: cover;
    background-position: center;
    /* Centraliza a imagem horizontal e verticalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.calculator {
    background-color: rgba(255, 255, 255, 0.8);
    /* Alterando a cor de fundo da calculadora para tornar o conteúdo mais legível */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.calculator h1 {
    margin-top: 0;
}

.input-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-section label,
.input-section input {
    margin-bottom: 10px;
}

.buttons button {
    font-size: 24px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #ddd;
}

.result-section {
    font-size: 28px;
    font-weight: bold;
}