body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#499fc2, #03b8ff);
}

.custom-form {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.custom-form label,
.custom-form input[type="number"],
.custom-form button {
    display: block;
    margin: 10px auto;
    width: 80%;
    
}

.custom-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-form button:hover {
    background-color: #0056b3;
}

#resultado {
    font-weight: bold;
    margin-top: 20px;
}
